body {
	font-family: 'Helvetica Neue', sans-serif;
	color: white;
	background-image: linear-gradient(rgba(0,0,0,.74), rgba(36,70,105,.74)), url("https://www.imore.com/sites/imore.com/files/styles/xlarge_wm_brw/public/field/image/2018/03/fortnite-windowscentral-screen.jpg?itok=ItVKiZoP");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

img{
	border:3px solid #c5fadc;
}
 th,td {
		font-family: 'Helvetica Neue', sans-serif;
        margin: 0;
        text-align: center;
        border-collapse: collapse;
        outline: 0.5px solid black;
    }
	
	
    td{
		font-family: 'Helvetica Neue', sans-serif;
        padding: 1px 1px;
    }

	th{
		font-family: 'Helvetica Neue', sans-serif;
        background: #c5fadc;
        color: black;
        padding: 12px 18px;
    }

    td:hover{
        cursor: pointer;
        background: #c5fadc;
        color: black;
		outline: 0.5px black;
    }
	
a:link, a:visited {
    background-color: transparent;
    color: white;
    padding: 12px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #ebfdf3;
	color: black;
}

h2{
    text-decoration: underline;
}

element.style {
    width: 100px;
}

.rarity-background_common {
    border-style: solid;
    border-image-source: linear-gradient(25deg,#7e848a 15%,#cfcfcf);
    border-image-slice: 20;
    background-image: radial-gradient(#d0d0d0 0%,#6d7071 100%);
}	

.rarity-background_uncommon {
    border-style: solid;
    border-image-source: linear-gradient(25deg,#008a09 15%,#9eef00);
    border-image-slice: 20;
    background-image: radial-gradient(#5bad03 0%,#01700a 100%);
}

.rarity-background_rare {
    border-style: solid;
    border-image-source: linear-gradient(25deg,#0063c5 15%,#00efec);
    border-image-slice: 20;
    background-image: radial-gradient(#3dc7ff 0%,#0059a1 100%);
}

.rarity-background_epic {
    border-style: solid;
    border-image-source: linear-gradient(25deg,#8037d7 15%,#df2cef);
    border-image-slice: 20;
    background-image: radial-gradient(#d27bf4 0%,#7907a5 100%);
}

.rarity-background_legendary {
    border-style: solid;
    border-image-source: linear-gradient(25deg,#df7241 15%,#f6c87c);
    border-image-slice: 20;
    background-image: radial-gradient(#fb9625 0%,#875134 100%);
}

.rarity-background_small {
    border-width: 2px;
    padding: 2px;
}

th { width: 66px; 
	max-width: 66px; 
}

.dropbtn {
    background-color: #c5fadc;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ebfdf3}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ebfdf3;
}